.imp{
    border: 15px solid #2e5cb8;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px 15px;
    text-align: justify;
}
.Sm{
    background-color: darkgray;
    font-family: monospace;
    font-size: 20px;
}
.sn{
    background-color: rgb(244, 243, 195);
    font-family: monospace;
    font-size:20px;
}
.sb{
    background-color: rgb(170, 144, 144);
    font-family: monospace;
    font-size:20px;
}